name: Tests

on:
  pull_request:
    branches: [develop]
  push:
    paths:
      - "**.js"
      - "**.jsx"
      - "**.ts"
      - "**.tsx"
      - "**.php"
      - "**.vue"
      - "**/composer.json"
      - "**/package.json"
      - "**/package-lock.json"
      - "demo-app/.env.example"
      - "demo-app/phpunit.xml.dist"
      - ".github/workflows/tests.yml"

jobs:
  tests:
    name: Pest L${{ matrix.laravel }} (${{ matrix.stack }}), App Mounting ${{ matrix.app_mounting }}, Native Dialog ${{ matrix.native_dialog }}
    timeout-minutes: 15
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        laravel: [12.0, 11.0]
        stack: [react, vue]
        app_mounting: [auto, custom]
        native_dialog: [true, false]

    env:
      APP_URL: "http://127.0.0.1:8000"
      DB_CONNECTION: sqlite
      APP_STACK: ${{ matrix.stack }}
      VITE_USE_NATIVE_DIALOG: ${{ matrix.native_dialog }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, mysql, mysqli, pdo_mysql
          coverage: none

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.composer-cache.outputs.dir }}
            ~/.npm
          key: ${{ runner.os }}-${{ matrix.stack }}-${{ hashFiles('**/composer.lock', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.stack }}-
            ${{ runner.os }}-

      - name: Prepare The Environment
        run: |
          cd demo-app
          cp .env.example .env

      - name: Set React Environment Variables
        if: ${{ matrix.stack == 'react' }}
        run: |
          cd demo-app
          sed -i -e "s|APP_STACK=vue|APP_STACK=react|g" .env

      - name: Build React library
        if: ${{ matrix.stack == 'react' }}
        run: |
          cd vue
          npm ci
          npm list @inertiajs/vue3
          cd ../react
          npm ci
          npm list @inertiajs/react
          npm run build

      - name: Build Vue library
        if: ${{ matrix.stack == 'vue' }}
        run: |
          cd vue
          npm ci
          npm list @inertiajs/vue3
          npm run build

      - name: Test React library
        if: ${{ matrix.stack == 'react' }}
        run: |
          cd react
          npm run test

      - name: Test Vue library
        if: ${{ matrix.stack == 'vue' }}
        run: |
          cd vue
          npm run test

      - name: Switch to custom app mounting
        if: ${{ matrix.app_mounting == 'custom' }}
        run: |
          cd demo-app/resources/js
          mv app-custom-mount.js app.js
          mv app-custom-mount.jsx app.jsx

      - name: Prepare Laravel app
        run: |
          cd demo-app
          composer require laravel/framework:^${{ matrix.laravel }} inertiajs/inertia-laravel:^2.0
          composer install --no-progress --prefer-dist --optimize-autoloader
          php artisan about
          npm install
          if [ "${{ matrix.stack }}" == "react" ]; then
            npm install react@^19.0.0 react-dom@^19.0.0
          fi
          npm list react react-dom vue
          npm install @inertiajs/react@^2.3.15 @inertiajs/vue3@^2.3.15
          npm install --install-links ../react
          npm install --install-links ../vue
          test -d node_modules/@inertiaui/modal-react || exit 1
          test -d node_modules/@inertiaui/modal-vue || exit 1
          npm list @inertiajs/react @inertiajs/vue3 @inertiaui/modal-react @inertiaui/modal-vue
          npm run build
          php artisan key:generate
          touch database/database.sqlite
          php artisan migrate:fresh --seed

      - name: Install Playwright
        run: |
          cd demo-app
          npx playwright install --with-deps chromium

      - name: Run tests
        run: |
          cd demo-app
          ./vendor/bin/pest --parallel

      - name: Upload artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: pest-artifacts-${{ matrix.laravel }}-${{ matrix.stack }}-${{ matrix.app_mounting }}-${{ matrix.native_dialog }}
          path: |
            demo-app/tests/Browser/Screenshots
            demo-app/storage/logs
